* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
    background-color: white;
    color: black;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    list-style: none;
    margin: 0 1.5vw;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
  }

  nav ul li a:hover {
    color: rgb(206, 69, 81);
    font-style: italic;
  }

  main hr {
    border: 0;
    background: red;
    height: 1.2px;
    margin: 40px 84px;
  }

  .left {
    font-size: 1.5rem;
  }

  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;
  }

  .firstSection div {
    width: 30%;
  }

  .leftSection {
    font-size: 2.5rem;
  }

  .rightSection img {
    width: 130%;
    height: 100%;
  }

  .purple {
    color: blueviolet;
  }

  #btn {
    width: 125%;
  }

  #element {
    width: 125%;
    color: blueviolet;
  }

  .secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }

  .secondSection h1 {
    font-size: 1.8rem;
  }

  .text-silver {
    color: #c0c0c0c4;
  }

  .secondSection .box {
    background-color: rgb(216, 82, 82);
    color: azure;
    width: 76vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  }

  .secondSection .vertical {
    height: 90px;
    width: 1px;
    background-color: rgb(216, 82, 82);
    margin: 0 120px;
  }

  .image-top {
    width: 32px;
    height: auto;
    position: relative;
    top: -32px;
    left: -9px;
  }

  .vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
  }

  .vertical-desc {
    position: relative;
    top: 86px;
    color: #c0c0c0d8;
    width: 150px;
    font-size: 10px;
  }

  footer {
    background-color: rgb(109, 8, 109);
    font-family: "Lato", sans-serif;
    height: 150px;
  }

  .footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
  }

  .footer ul {
    list-style: none;
    display: flex;
  }

  .footer ul li {
    margin: 0 2px;
  }

  .footer > div {
    width: 150px;
  }

  footer .footer-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }