
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
  }

  body {
    /* background-color: black; */
    background: linear-gradient(rgb(34, 34, 84),black);
    color: white;
    font-family: "Lato", sans-serif;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
    /* background-color: rgb(78, 9, 78); */
    background: linear-gradient(rgb(105, 60, 147),rgb(212, 37, 67));
    color: white;
  }

nav .left{
  cursor: pointer;
}

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    list-style: none;
    margin: 0 1.5vw;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
  }

  nav ul li a:hover {
    color: rgb(83, 69, 151);
    font-style: italic;
  }

  main hr {
    border: 0;
    background: red;
    height: 1.2px;
    margin: 40px 84px;
  }

  .left {
    font-size: 1.5rem;
  }
  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
  }
  .firstSection > div {
    width: 30%;
  }
  .leftSection {
    font-size: 2.8rem;
  }
  .rightSection img {
    width: 100%;
  }
  #img {
    border-radius: 6px;
  }
  .purple {
    color: rgb(161, 49, 161);
  }
  
  #btn {
    width: 125%;
  }

  #element {
    width: 125%;
    color: blueviolet;
  }

  .secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }

  .secondSection h1 {
    font-size: 1.8rem;
  }

  .text-silver {
    color: #c0c0c0c4;
  }

  .secondSection .box {
    background-color: rgb(216, 82, 82);
    color: azure;
    width: 76vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  }

  .secondSection .vertical {
    height: 90px;
    width: 1px;
    background-color: rgb(216, 82, 82);
    margin: 0 120px;
  }

  .image-top {
    width: 32px;
    height: auto;
    position: relative;
    top: -32px;
    left: -9px;
  }

  .vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
  }

  .vertical-desc {
    position: relative;
    top: 86px;
    color: #c0c0c0d8;
    width: 150px;
    font-size: 10px;
  }

  footer {
    background-color: rgb(165, 53, 165);
    font-family: "Lato", sans-serif;
    height: 150px;
  }

  .footer {
    display: flex;
    padding: 23px 100px;
    justify-content: space-evenly;
  }

  .footer ul {
    list-style: none;
    display: flex;
  }

  .footer ul li {
    margin: 0 2px;
  }

  .footer > div {
    width: 150px;
  }

  footer .footer-first{
    width: 172px;
  }
  footer .footer-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 1000px){
    body{
      /* background-color: red; */
      min-width: fit-content;
    }
    nav{
      flex-direction: column;
    }
    .firstSection{
      flex-direction: column-reverse;
      margin: 30px 0;
    }

    .box{
      flex-direction: column;
    }
    .secondSection .vertical{
      height: unset;
    }
    .vertical-desc, .vertical-title{
      left: 45px;
    }
    .vertical-title{
      top: -28px;
    }
    .vertical-desc{
      top: -24px;
    }

    .secondSection .box{
      width: 50vw;
    }
    .image-top{
      top: 3px;
      left: 8px;
    }

    .secondSection{
      max-width: 80vw;
      margin: auto;
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    

.leftSection{
  width: 65% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
 .rightSection{
  width: 80% !important;
 }
 .secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh !important;
} 
  }

  @media screen and (max-width:1300px){
    .secondSection .vertical{
      margin: 0 90px;
    }
  }